@import "../../styles/variables";

// Container for both mobile and desktop nav
.nav-bar {
  position: fixed;
  z-index: 6000;
}

.bgChange {
  background-color: rgba($color: $snow, $alpha: 0.5);
}

// Todo: Add variables and import fonts
.nav-links {
  text-decoration: none;
  // color: $main-site-blue;
  // font-family: $nav-links-font-family;
  font-size: 1.6em;
  margin: 0.5rem 0 0.5rem 0;

  // Todo: Add sticky hover solution
  &:hover {
    font-weight: bold;
    //   color: $pink-lace;
  }
}

.hamburger-container {
  z-index: 7000;
  top: 2rem;
  padding: 0.5rem;

  color: $hot-pink;
}

// Todo: Add desktop class here too
.mobile-navigation {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1em 1em;

  transition: "top 0.9s";
}

// Mobile links container
.mobile-nav-links-container {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $cotton-candy;
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: -1rem;
  left: 0;
  right: 0;
}
