@import "../../styles/variables";
@import "../../styles/mixins";

// Container for both mobile and desktop nav
.nav-bar {
  position: fixed;
  z-index: 6000;
}

.bgChange {
  background-color: rgba($color: $snow, $alpha: 0.5);
}

.nav-links {
  font-family: $nav-links-font-family;
  font-size: 2.6rem;
  margin: 1rem 0 1rem 0;
}

@media (hover: hover) {
  .nav-links:hover * {
    color: $pink-lace;
  }
}

.nav-links * {
  text-decoration: none;
  color: $main-site-blue;
}

.hamburger-container {
  z-index: 7000;
  top: 2rem;
  color: $hot-pink;
}

.mobile-navigation,
.desktop-navigation {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em 1em;

  transition: "top 0.9s";

  // background: transparent;
}

// Mobile links container
.mobile-nav-links-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  padding: 10rem 3rem 0 0;

  background-color: $cotton-candy;
  height: 55vh;
  width: 100vw;

  position: fixed;

  // Todo: De-bug why top has a gap unless I set it like this..
  top: -1rem;
  left: 0;

  .nav-links {
    &:hover {
      color: $snow !important;
    }
  }
}

.desktop-navigation {
  display: none;
}

// Media Queries

@include tablet {
  .mobile-navigation {
    display: none;
  }

  // On all devices from tablet +
  .desktop-navigation {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .desktop-ul-container {
    display: flex;
    width: 60rem;
    justify-content: space-around;

    list-style: none;
    margin: 0.8em 0 0.8em 0;

    .nav-links {
      font-size: 1.8rem;
      color: $main-site-blue;
      letter-spacing: 0.5px;
      font-family: $sub-headings;
    }

    .nav-links * {
      &:active {
        color: $hot-pink;
        font-size: 1.85rem;
      }
    }
  }

  @media (hover: hover) {
    .nav-links:hover * {
      color: $hot-pink;
      font-size: 1.85rem;
    }
  }
}
