@import "/styles/variables";

.title-section-container {
  width: 100vw;
  height: 100vh;
  background-color: $sun-yellow;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-heading {
  font-family: $sub-headings;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1rem;
  color: $main-site-blue;

  &:nth-of-type(3) {
    margin: 3rem 5rem 0 5rem;
    font-size: 1.5rem;
  }
}

.name-heading {
  font-family: $intro-font-family;
  color: $hot-pink;
  font-size: 5rem;
  line-height: 3rem;

  text-decoration: none;
  text-align: center;
}
